<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>
<main class="container">
    <h1>Tournaments</h1>

    <a href="/tournaments/add">Add a New Tournament</a>

    <ul class="list-group">
        <% for (var i = 0; i < tournaments.Length; i++) { %>
            <li class="list-group-item">
                Name: 
                <a href="/tournaments/<%= tournaments[i]._id %>" title="Edit Tournament">
                    <%= tournaments[i].name %>
                </a>
                <br />
                size: <%= tournaments[i].size %>
                <br />
                description: <%= tournaments[i].description %>
                <br />
                Created: <%= tournaments[i].created.toDateString() %>
                <br />
                Updated: <%= tournaments[i].updated.toDateString() %>
            </li>
        <% } %>
    </ul>
</main>
<% include ../partials/bootstrap.ejs %>
<% include ../partials/footer.ejs %>