<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>
<main class="container">
    <h1>Tournaments</h1>

    <a href="/tournaments/add">Add a New Tournament</a>

    <ul class="list-group">
        <% for (var i = 0; i < tournaments.Length; i++) { %>
            <li class="list-group-item">
                Name: 
                <a href="/tournaments/<%= tournaments[i]._id %>" title="Edit Tournament">
                    <%= tournaments[i].name %>
                </a>
                <br />
                size: <%= tournaments[i].size %>
                <br />
                Description: <%= tournaments[i].description %>
                <br />
                "Team 1:" <%= tournaments[i].team1 %>
                <br />
                "Team 2:" <%= tournaments[i].team2 %>
                <br />
                "Team 3:" <%= tournaments[i].team3 %>
                <br />
                "Team 4:" <%= tournaments[i].team4 %>
                <br />
                "Team 5:" <%= tournaments[i].team5 %>
                <br />
                "Team 6:" <%= tournaments[i].team6 %>
                <br />
                "Team 7:" <%= tournaments[i].team7 %>
                <br />
                "Team 8:" <%= tournaments[i].team8 %>
                <br />
                "Team 9:" <%= tournaments[i].team9 %>
                <br />
                "Team 10:" <%= tournaments[i].team10 %>
                <br />
                "Team 11:" <%= tournaments[i].team11 %>
                <br />
                "Team 12:" <%= tournaments[i].team12 %>
                <br />
                "Team 13:" <%= tournaments[i].team13 %>
                <br />
                "Team 14:" <%= tournaments[i].team14 %>
                <br />
                "Team 15:" <%= tournaments[i].team15 %>
                <br />
                "Team 16:" <%= tournaments[i].team16 %>
                <br />
                "Created By:" <%= tournaments[i].createdby %>
                <br />
                "Created:" <%= tournaments[i].created.toDateString() %>
                <br />
                "Updated:" <%= tournaments[i].updated.toDateString() %>
                
            </li>
        <% } %>
    </ul>
</main>
<% include ../partials/bootstrap.ejs %>
<% include ../partials/footer.ejs %>